marquee{
    text-decoration: none;
   background-color: rosybrown;
   border: .2vw solid rgb(0, 0, 0);
    }
.head{
    position: sticky;
    top: 20px;
    z-index: 1;
}
.bar{
    padding: 1.5vw;
    margin: .5vw;
    background-color: rosybrown;
    border: .2vw solid rgb(0, 0, 0);
    border-radius: 6vw;
    font-size: 22px;
    text-align:center;
    
    
    font-weight: 500;

}
.pad{
    padding: 2.5vw;
    margin: 3vw;
    text-decoration: none;
    color: white;
}
.main{
   margin-left: 10px;
   margin-right: 5px;
    border: 2px solid black;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 2vw;
    width: 45vw;
    height: 300px;
    font-size: 1.5vw;
    display: inline-block;
}
.one{
    border: .2vw solid black;
    border-radius: 2vw;
    padding: 1.5vw;
    margin: .5vw;
    background-color: rgb(255, 255, 255);
    width: 45%;
    height: 350px; 
    font-size: 1.5vw;
    float: left;
}
.video{
     display: inline-block;
    border: 2px solid black;
    padding: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 2vw;
    width: 45vw;
    height: 300px;}
    .two{
        border: .2vw solid black;
        border-radius: 2vw;
        padding: 1.5vw;
        margin: .5vw;
        background-color: rgb(255, 255, 255);
        width: 94%; 
        font-size: 1.5vw;
        float: center;
        clear: both;
    }
     
    

.cent{
    position: relative;
    left:99px;
    top: 51px;
}
.beg{
    padding: 1.5vw;
    margin: .5vw 30vw;
    background-color: rosybrown;
    border: .2vw solid rgb(0, 0, 0);
    border-radius: 6vw;
    font-size: 22px;
    text-align:center;
    width: 40%;
    }
    .foot{
        
        background-color: rosybrown;
        border: .2vw solid rgb(0, 0, 0);
        margin: 5px 30%;
        text-align: center;
        width: 40%;
    }
    .add{
        border: 2px solid black;
        border-radius: 15px;
        padding: 15px;
        margin: 5px;
        background-color: rosybrown;
        width: 50%; 
        font-size: 16px;
        
      
        }
        .add a{
            text-decoration: none;
        }